h2{
  text-transform: uppercase;
  color: #0d47a1;
  text-align: center;
}
.input{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  & input{
    width: 100%;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 4px 8px;
    transition: .4s;
    font-size: large;
    & ~ label{
      position: absolute;
      top:7px;
      left:10px;
      transition: .2s;
      cursor: text;
      padding: 0 4px;
    }
    &:focus, &.active{
      border-color: #4285F4;
      outline: none;
      box-shadow: inset #4285F4 0 0 0 1px;
      & ~ label{
        position: absolute;
        transform: scale(0.8) translateY(-50%);
        background-color: white;
        color: #4285F4;
        top:0px;
        left:2px;
      }
    }
  }
  &-btn{
    & input{
      border-radius: 4px 0 0 4px;
      & ~ button{
        cursor: pointer;
        border: 1px solid #888;
        border-radius: 0 4px 4px 0;
        padding: 4px 8px;
        transition: .4s;
        font-size: large;
        background-color: white;
        outline: none;
        &:hover{
          border-color: #4285F4;
          color: #4285F4;
          box-shadow: inset #4285F4 0 0 0 1px;
        }
        &:active{
          color: white;
          background-color: #4285F4;
        }
      }
      &:focus, &.active{
        & ~ button{
          border-color: #4285F4;
        }
      }
    }
  }
}
.heroes-list{
  list-style-type: none;
  padding: 0;
  & li{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid #888;
    border-radius: 4px;

    transition: .4s;
    font-size: medium;
    &:hover{
      border-color: #4285F4;
      color: #4285F4;
      box-shadow: inset #4285F4 0 0 0 1px;
    }
    & .title{
      padding: 8px 8px;
      & span{
        margin-right: 16px;
      }
    }
    &.selected{
      color: white;
      background-color: #4285F4;
    }
    & .control {
      border-radius: 0 4px 4px 0;
      overflow: hidden;
      margin: 1px 1px;
      & button{
        cursor: pointer;
        border: none;
        border-left: 1px solid #888;
        padding: 6px 8px;
        transition: .4s;
        font-size: large;
        background-color: white;
        outline: none;
        &:hover{
          border-color: #4285F4;
          color: #4285F4;
          box-shadow: inset #4285F4 0 0 0 1px;
        }
        &:active{
          color: white;
          background-color: #4285F4;
        }
      }
    }
  }
}

